Repository shubham-neal/Santa-Cruz-AI-App: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-ARMtemplate-eye.yml, pipelines/build-ARMtemplate.yml, pipelines/build-Mariner.yml, pipelines/build-cloudshell.yml, pipelines/build-frontend.yml

pipelines/build-ARMtemplate-eye.yml:
  pool: default
  stages:
  - stage: Build
    jobs:
    - job: Build
      variables:
      - group: ${{variables.Variable_Group}}
      displayName: Build ARM Template
      steps:
      - checkout: self
      - task: Bash@3
        displayName: ShellCheck validation for arm template deployment scripts
        inputs:
  ...

pipelines/build-ARMtemplate.yml:
  pool: default
  stages:
  - stage: Build
    jobs:
    - job: Build
      variables:
      - group: ${{variables.Variable_Group}}
      displayName: Build ARM Template
      steps:
      - checkout: self
      - task: Bash@3
        displayName: ShellCheck validation for arm template deployment scripts
        inputs:
  ...

pipelines/build-Mariner.yml:
  pool: default
  stages:
  - stage: PublishArtifacts
    jobs:
    - job: Download_and_bundle
      steps:
      - checkout: self
        path: s/UnifiedEdge
      - download: none
      - task: DownloadPipelineArtifact@2
        inputs:
          buildType: specific
          project: 1ab7de3c-f8b7-4b59-be5a-fa78b4f4570c
  ...

pipelines/build-cloudshell.yml:
  pool: default
  stages:
  - stage: PublishArtifacts
    jobs:
    - job: Download_and_bundle
      steps:
      - checkout: self
        path: s/UnifiedEdge
      - download: none
      - task: DownloadPipelineArtifact@2
        inputs:
          buildType: specific
          project: 1ab7de3c-f8b7-4b59-be5a-fa78b4f4570c
  ...

pipelines/build-frontend.yml:
  pool: default
  steps:
  - checkout: self
  - task: NodeTool@0
    inputs:
      versionSpec: 10.x
    displayName: Install Node.js
  - script: 'pushd $(uiSource)
  
      npm install
  
      npm run build --prod --nomaps
  
      popd
  
      '
  - task: CopyFiles@2
    inputs:
      SourceFolder: frontend-app/app/build
  ...

Update deploy-Mariner.yml for Azure Pipelines
  pipelines/deploy-Mariner.yml
Due: pipelines/build-Mariner.yml

Updated deploy-Mariner.yml
  pipelines/deploy-Mariner.yml
Due: pipelines/build-Mariner.yml

Updated mariner-setup.sh
  edge-solution/people-detection/mariner/scripts/mariner-setup.sh
Due: pipelines/build-ARMtemplate.yml, pipelines/build-Mariner.yml, pipelines/build-cloudshell.yml

Added brainbox readme
  docs/brainbox-installation-steps.md
  edge-solution/people-detection/mariner/scripts/mariner-setup.sh
Due: pipelines/build-ARMtemplate.yml, pipelines/build-Mariner.yml, pipelines/build-cloudshell.yml

Merging github master branch
  deployment/arm/azuredeploy.json
  deployment/arm/scripts/create-setup-iot-edge-device.sh
  deployment/arm/scripts/deploy-modules.sh
  deployment/arm/scripts/disk-setup.sh
  deployment/cloudshell/cloudshell-deployment.sh
  deployment/cloudshell/deploy-iot.sh
  deployment/cloudshell/eye-vm-setup.sh
  deployment/cloudshell/frontend-setup.sh
  deployment/cloudshell/smoketest.sh
  deployment/cloudshell/variables.template
  specs/IoT.md
  specs/Virtual-Eye.md
  specs/readme.md
Due: pipelines/build-ARMtemplate.yml, pipelines/build-cloudshell.yml

Updated brainbox radme
  docs/brainbox-installation-steps.md
  docs/images/Brainbox-Device.png
Due: none

Updated image file
  docs/images/AI-App-Topology.png
Due: none

Updated mariner script and pipelines
  edge-solution/people-detection/mariner/scripts/configedge.sh
  edge-solution/people-detection/mariner/scripts/mariner-setup.sh
  pipelines/build-Mariner.yml
  pipelines/deploy-Mariner.yml
Due: pipelines/build-ARMtemplate.yml, pipelines/build-Mariner.yml, pipelines/build-cloudshell.yml

Updated release-github.yml
  pipelines/release-github.yml
Due: none

Update release-github.yml for Azure Pipelines
  pipelines/release-github.yml
Due: none

Updated resources.json
  edge-solution/people-detection/mariner/templates/resources.json
Due: pipelines/build-ARMtemplate.yml, pipelines/build-Mariner.yml, pipelines/build-cloudshell.yml

Updated pipelines
  edge-solution/people-detection/mariner/scripts/mariner-setup.sh
  edge-solution/people-detection/mariner/templates/resources.json
  pipelines/deploy-ARMtemplate-eye.yml
  pipelines/deploy-Mariner.yml
  pipelines/deploy-frontend.yml
Due: pipelines/build-ARMtemplate-eye.yml, pipelines/build-ARMtemplate.yml, pipelines/build-Mariner.yml, pipelines/build-cloudshell.yml, pipelines/build-frontend.yml

Update build-ARMtemplate-eye.yml for Azure Pipelines
  pipelines/build-ARMtemplate-eye.yml
Due: pipelines/build-ARMtemplate-eye.yml

Updated github pipeline
  pipelines/deploy-ARMtemplate-eye.yml
  pipelines/release-github.yml
Due: pipelines/build-ARMtemplate-eye.yml

Path conditions:
  pipelines/build-ARMtemplate-eye.yml: any of: edge-solution/people-detection/azure-eye, pipelines/build-ARMtemplate-eye.yml, pipelines/deploy-ARMtemplate-eye.yml
  pipelines/build-ARMtemplate.yml: any of: deployment/arm, edge-solution, pipelines/build-ARMtemplate.yml, pipelines/deploy-ARMtemplate.yml
  pipelines/build-Mariner.yml: any of: edge-solution/people-detection/mariner, pipelines/build-Mariner.yml, pipelines/deploy-Mariner.yml
  pipelines/build-cloudshell.yml: any of: deployment/cloudshell, edge-solution, pipelines/build-cloudshell.yml, pipelines/deploy-cloudshell.yml
  pipelines/build-frontend.yml: any of: frontend-app, pipelines/build-frontend.yml, pipelines/deploy-frontend.yml
