Repository shubham-neal/Santa-Cruz-AI-App: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/build-ARMtemplate.yml, pipelines/build-cloudshell.yml, pipelines/build-frontend.yml

Path conditions:
  pipelines/build-ARMtemplate.yml: any of: deployment/arm, edge-solution, pipelines/build-ARMtemplate.yml, pipelines/deploy-ARMtemplate.yml
  pipelines/build-cloudshell.yml: any of: deployment/cloudshell, edge-solution, pipelines/build-cloudshell.yml, pipelines/deploy-cloudshell.yml
  pipelines/build-frontend.yml: any of: frontend-app, pipelines/build-frontend.yml, pipelines/deploy-frontend.yml

Update deploy-Mariner.yml
  pipelines/deploy-Mariner.yml
Due: none

refactor contain name for debug
  frontend-app/app/src/components/Camera.jsx
Due: pipelines/build-frontend.yml

developing detection service
  frontend-app/app/src/services/DetectionService.js
Due: pipelines/build-frontend.yml

temp handle brainbox box instead eye bbox
  frontend-app/app/src/components/Camera.jsx
Due: pipelines/build-frontend.yml

quick temp debug fix test
  frontend-app/app/src/components/Camera.jsx
Due: pipelines/build-frontend.yml

Updated build-Mariner.yml
  pipelines/build-Mariner.yml
Due: none

Removed the Duplicate folder
  people_detection/simple/RtcvDeployment/deployment.lvaazureeye.template.json
  people_detection/simple/RtcvDeployment/george.env
  people_detection/simple/RtcvDeployment/modules/azureeyeh264module/lva-deployment/cvr-topology-params.json
Due: none

Added Azure Eye objects
  README.md
  deployment/arm/azuredeploy.json
  deployment/arm/scripts/create-setup-iot-edge-device.sh
  deployment/arm/scripts/deploy-modules.sh
  deployment/arm/scripts/disk-setup.sh
  deployment/arm/smoketest.sh
  deployment/cloudshell/cloudshell-deployment.sh
  deployment/cloudshell/deploy-iot.sh
  deployment/cloudshell/eye-vm-setup.sh
  deployment/cloudshell/frontend-setup.sh
  deployment/cloudshell/smoketest.sh
  deployment/cloudshell/variables.template
  docs/images/AI-App-Topology.png
  docs/images/Custom-Deployment-Eye.jpg
  docs/virtualized-environment-setup.md
  edge-solution/people-detection/azure-eye/.env
  edge-solution/people-detection/azure-eye/cvr-topology-params.json
  edge-solution/people-detection/azure-eye/cvr-topology.json
  edge-solution/people-detection/azure-eye/deployment.lvaazureeye.template.json
  edge-solution/people-detection/azure-eye/deployment/arm/azuredeploy.json
  edge-solution/people-detection/azure-eye/deployment/arm/scripts/deploy-modules-azureeye.sh
  edge-solution/people-detection/azure-eye/george.env
  pipelines/build-ARMtemplate-eye.yml
  pipelines/build-ARMtemplate.yml
  pipelines/build-cloudshell.yml
  pipelines/build-frontend.yml
  pipelines/deploy-ARMtemplate-eye.yml
  pipelines/deploy-ARMtemplate.yml
  pipelines/deploy-cloudshell.yml
  pipelines/release-github.yml
Due: pipelines/build-ARMtemplate.yml, pipelines/build-cloudshell.yml, pipelines/build-frontend.yml

Resolved merge conflicts
  edge-solution/people-detection/azure-eye/cvr-topology-params.json
  edge-solution/people-detection/azure-eye/cvr-topology.json
  edge-solution/people-detection/azure-eye/deployment.lvaazureeye.template.json
Due: pipelines/build-ARMtemplate.yml, pipelines/build-cloudshell.yml

Updated release pipeline
  edge-solution/people-detection/azure-eye/deployment/arm/azuredeploy.json
  pipelines/deploy-ARMtemplate-eye.yml
Due: pipelines/build-ARMtemplate.yml, pipelines/build-cloudshell.yml

Updated readme
  README.md
  edge-solution/people-detection/azure-eye/deployment/arm/azuredeploy.json
Due: pipelines/build-ARMtemplate.yml, pipelines/build-cloudshell.yml

timezone offset fix
  frontend-app/app/src/components/Camera.jsx
Due: pipelines/build-frontend.yml

Update deploy-ARMtemplate-eye.yml for Azure Pipelines
  pipelines/deploy-ARMtemplate-eye.yml
Due: none

Updated mariner-setup.sh
  edge-solution/people-detection/mariner/scripts/mariner-setup.sh
Due: pipelines/build-ARMtemplate.yml, pipelines/build-cloudshell.yml

Update deploy-Mariner.yml for Azure Pipelines
  pipelines/deploy-Mariner.yml
Due: none

Updated deploy-Mariner.yml
  pipelines/deploy-Mariner.yml
Due: none

Update build-Mariner.yml
  pipelines/build-Mariner.yml
Due: none

Updated condition for variable group
  pipelines/build-ARMtemplate-eye.yml
Due: none
